RewriteEngine on

#process request for html file
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*)\.html$ core/html.php       [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^$ core/html.php                [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*)\.json$ core/json.php       [QSA,L]



RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*)_frame/(.*)\.js$ core/js.php?id=$2       [QSA,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*)_js/(.*)\.js$ core/jquery.php?id=$2       [QSA,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*)assests/(.*) core/files.php?id=$2       [QSA,L]
